.buynow__button {
  font-family: inherit;
  background: var(--accent-primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  @include font(16px, 1.88, 0, 700);
  border: 0px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  width: 200px;
  height: 50px;
  margin-top: 30px;
}
.modal-buynow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 567px;
  background-image: linear-gradient(90deg, rgba(255, 221, 225, 0.3) 35%, var(--white-color) 100%);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  opacity: 1;
  padding: 40px;
  padding-top: 30px;
  z-index: 100;
  backdrop-filter: blur(8px);
  transform: scale(1) translate(-50%, -50%);
  transition-property: transform;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 613px;
  }
  @media screen and (min-width: 1280px) {
    width: 528px;
  }
}
.modal-buynow__header {
  // text-align: center;
  // @include font(10px, 1.15, 0.03em, 700);
  // color: var(--text-dark);

  // @media screen and (min-width: 480px) {
  //   font-size: 16px;
  // }
  text-align: center;
  color: var(--accent-primary);
  // @include font(100%, 1.75, 0.03em, 400);

  @include font(24px, 1.75, 0.03em, 400);
  @media screen and (min-width: 480px) {
    @include font(34px, 1.75, 0.03em, 400);
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  color: var(--accent-primary);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--accent-primary);
  border-radius: 50%;
  cursor: pointer;
  &:focus,
  &:hover {
    color: var(--accent-green);
    background-color: var(--accent-primary);
  }
}

.order__form {
  width: 250px;
  @media screen and (min-width: 480px) {
    width: 370px;
  }
  @media screen and (min-width: 1280px) {
    width: 448px;
  }
}
.order__field {
  margin-bottom: 10px;
}
.order__field-comment {
  margin-bottom: 10px;
  @media screen and (min-width: 480px) {
    margin-bottom: 20px;
  }
}
.order__label {
  margin-bottom: 6px;
  color: var(--text-dark);
  padding-left: 20px;
  font-size: 13px;
}
.order__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 24px;
  padding-left: 35px;
  outline: none;
  color: var(--accent-primary);
  transition-property: border-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
  &:focus {
    border-color: var(--accent-primary);
  }
  &:focus + .order__icon-img {
    fill: var(--accent-primary);
  }
}

.order__icon {
  position: relative;
  margin-top: 3px;
}

.order__icon-img {
  width: 18px;
  height: 18px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: currentColor;
}
.order__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 24px;
  resize: none;
  padding: 12px 16px;
  @include font(14px, 1.14, 0.01em, 500);
  outline: none;
  transition-property: border-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: var(--accent-primary);
  }
}

.order__checkbox {
  text-align: center;
}

.order__policy {
  @include font(7px, 1.5, 0.03em, 700);
  color: var(--text-dark);
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  & span {
    width: 16px;
    height: 15px;
    border: 1.5px solid #000000;
    border-radius: 24px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-property: border, background-color;
    transition-duration: var(--transition-time), var(--transition-time);
    transition-timing-function: var(--cubic-bezier), var(--cubic-bezier);
  }
  @media screen and (min-width: 480px) {
    font-size: 11px;
    line-height: 1.71;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
  }
}

.order__policy span:hover,
.order__checkbox-input:focus + .order__policy span {
  border: 2px solid var(--accent-primary);
}
.order__checkbox-input:checked + .order__policy span {
  background-color: var(--accent-primary);
  border: 0;
}
.order__check {
  fill: transparent;
  transition-property: fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
}
.order__checkbox-input:checked + .order__policy .order__check {
  fill: var(--accent-green);
}

.order__link {
  color: var(--accent-primary);
  text-decoration: none;
}

.order__btm {
  background: var(--accent-primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 24px;
  border: 0;
  width: 150px;
  height: 37.5px;
  color: var(--white-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  @media screen and (min-width: 480px) {
    width: 200px;
    height: 50px;
  }
}
