<section class="clients clients__section">
  <div class="container">
    <h2 class="visually-hidden">Testimonials</h2>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="wriper-slide">
            <img
              class="clients__photo"
              srcset="
                ./images/clients/clients-testimonials-1-1x.png 1x,
                ./images/clients/clients-testimonials-1-2x.png 2x
              "
              src="./images/clients/clients-testimonials-1-1x.png"
              alt="Photo of a happy client 1"
              width="85"
            />
            <div class="clients__box-review">
              <div class="clients__wrap-text">
                <p class="clients__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>
            <p class="clients__name">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="wriper-slide">
            <img
              class="clients__photo"
              srcset="
                ./images/clients/clients-testimonials-2-1x.png 1x,
                ./images/clients/clients-testimonials-2-2x.png 2x
              "
              src="./images/clients/clients-testimonials-2-1x.png"
              alt="Photo of a happy client 2"
              width="85"
            />
            <div class="clients__box-review">
              <div class="clients__wrap-text">
                <p class="clients__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>
            <p class="clients__name">Diana, New York</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="wriper-slide">
            <img
              class="clients__photo"
              srcset="
                ./images/clients/clients-testimonials-3-1x.png 1x,
                ./images/clients/clients-testimonials-3-2x.png 2x
              "
              src="./images/clients/clients-testimonials-3-1x.png"
              alt="Photo of a happy client 3"
              width="85"
            />
            <div class="clients__box-review">
              <div class="clients__wrap-text">
                <p class="clients__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>
            <p class="clients__name">Emma, Miami Beach</p>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
