<section class="section-contact" id="contact">
  <div class="contact-shift">
    <h2 class="visually-hidden">Contact</h2>
    <div class="container">
      <ul class="contact-wrap list">
        <li class="container-contact">
          <p class="contact-title">CAFE</p>
          <p class="contact-location">Chicago</p>
          <p class="contact-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="contact-date list">
            <li class="contact-date-day">Monday - Friday</li>
            <li class="contact-date-time">06:00 AM - 10:00 PM</li>
            <li class="contact-date-day">Monday - Friday</li>
            <li class="contact-date-time">06:00 AM - 10:00 PM</li>
          </ul>
          <ul class="list contact-adress">
            <li class="contact-adress__tel">
              <a href="tel:+610383766284" class="link contact-link">+61(0) 383 766 284</a>
            </li>
            <li class="contact-adress__mail">
              <a href="mailto:noreply@envato.com" class="link contact-link">noreply@envato.com</a>
            </li>
          </ul>
        </li>
        <li class="container-contact">
          <p class="contact-title__heading">FOOD TRUCK</p>
          <p class="contact-location">Los Angeles</p>
          <p class="contact-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="contact-date list">
            <li class="contact-date-day">Monday - Friday</li>
            <li class="contact-date-time">06:00 AM - 10:00 PM</li>
            <li class="contact-date-day">Monday - Friday</li>
            <li class="contact-date-time">06:00 AM - 10:00 PM</li>
          </ul>
          <ul class="list contact-adress">
            <li class="contact-adress__tel">
              <a href="tel:+610383766284" class="link contact-link">+61(0) 383 766 284</a>
            </li>
            <li class="contact-adress__mail">
              <a href="mailto:noreply@envato.com" class="link contact-link">noreply@envato.com</a>
            </li>
          </ul>
        </li>
        <li class="container-contact">
          <p class="contact-title">CAFE</p>

          <p class="contact-location">New York</p>
          <p class="contact-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="contact-date list">
            <li class="contact-date-day">Monday - Friday</li>
            <li class="contact-date-time">06:00 AM - 10:00 PM</li>
            <li class="contact-date-day">Monday - Friday</li>
            <li class="contact-date-time">06:00 AM - 10:00 PM</li>
          </ul>
          <ul class="list contact-adress">
            <li class="contact-adress__tel">
              <a href="tel:+610383766284" class="link contact-link">+61(0) 383 766 284</a>
            </li>
            <li class="contact-adress__mail">
              <a href="mailto:noreply@envato.com" class="link contact-link">noreply@envato.com</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="contact-btn">
        <div class="dropdown">
          <button type="button" class="contact-btn__locations">
            Our location<span class="contact-simbol"> &gt;</span>
          </button>
          <div class="dropdown-content">
            <a href="#" onclick="return false;" data-locations-open__chicago>Chicago</a>
            <a href="#" onclick="return false;" data-locations-open__los-angeles>Los Angeles</a>
            <a href="#" onclick="return false;" data-locations-open__new-york>New York</a>
          </div>
        </div>
        <button type="submit" class="contact-btn__franchize" data-franchise-open>
          Franchize &gt;
        </button>
      </div>
    </div>
  </div>
</section>
