<section id="gallery" class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__thumb">
      <div class="gallery__column">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-mob01-1x.jpg 1x,
                  ./images/gallery/gallery-mob01-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery-tab01-1x.jpg 1x,
                  ./images/gallery/gallery-tab01-2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/gallery/gallery-desk01-1x.jpg 1x,
                  ./images/gallery/gallery-desk01-2x.jpg 2x
                "
                src="./images/gallery/gallery-desk01-1x.jpg"
                alt="Green ice cream"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-mob02-1x.jpg 1x,
                  ./images/gallery/gallery-mob02-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery-tab02-1x.jpg 1x,
                  ./images/gallery/gallery-tab02-2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/gallery/gallery-desk02-1x.jpg 1x,
                  ./images/gallery/gallery-desk02-2x.jpg 2x
                "
                src="./images/gallery/gallery-desk02-1x.jpg"
                alt="Pink ice cream"
              />
            </picture>
          </div>
        </div>
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-mob03-1x.jpg 1x,
                  ./images/gallery/gallery-mob03-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery-tab03-1x.jpg 1x,
                  ./images/gallery/gallery-tab03-2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/gallery/gallery-desk03-1x.jpg 1x,
                  ./images/gallery/gallery-desk03-2x.jpg 2x
                "
                src="./images/gallery/gallery-desk03-1x.jpg"
                alt="Pink ice lolly"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column is-big">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-mob04-1x.jpg 1x,
                  ./images/gallery/gallery-mob04-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery-tab04-1x.jpg 1x,
                  ./images/gallery/gallery-tab04-2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/gallery/gallery-desk04-1x.jpg 1x,
                  ./images/gallery/gallery-desk04-2x.jpg 2x
                "
                src="./images/gallery/gallery-desk04-1x.jpg"
                alt="Different types of ice cream"
              />
            </picture>
          </div>
        </div>
        <div class="gallery__row is-small">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-mob05-1x.jpg 1x,
                  ./images/gallery/gallery-mob05-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery-tab05-1x.jpg 1x,
                  ./images/gallery/gallery-tab05-2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/gallery/gallery-desk05-1x.jpg 1x,
                  ./images/gallery/gallery-desk05-2x.jpg 2x
                "
                src="./images/gallery/gallery-desk05-1x.jpg"
                alt="girl with ice cream"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column is-down">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-mob06-1x.jpg 1x,
                  ./images/gallery/gallery-mob06-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery-tab06-1x.jpg 1x,
                  ./images/gallery/gallery-tab06-2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/gallery/gallery-desk06-1x.jpg 1x,
                  ./images/gallery/gallery-desk06-2x.jpg 2x
                "
                src="./images/gallery/gallery-desk06-1x.jpg"
                alt="Ice cream in a vase"
              />
            </picture>
          </div>
        </div>
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-mob07-1x.jpg 1x,
                  ./images/gallery/gallery-mob07-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery-tab07-1x.jpg 1x,
                  ./images/gallery/gallery-tab07-2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/gallery/gallery-desk07-1x.jpg 1x,
                  ./images/gallery/gallery-desk07-2x.jpg 2x
                "
                src="./images/gallery/gallery-desk07-1x.jpg"
                alt="Red ice cream"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column is-up">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-mob08-1x.jpg 1x,
                  ./images/gallery/gallery-mob08-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery-tab08-1x.jpg 1x,
                  ./images/gallery/gallery-tab08-2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/gallery/gallery-desk08-1x.jpg 1x,
                  ./images/gallery/gallery-desk08-2x.jpg 2x
                "
                src="./images/gallery/gallery-desk08-1x.jpg"
                alt="The dog tastes red ice cream"
              />
            </picture>
          </div>
        </div>
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-mob09-1x.jpg 1x,
                  ./images/gallery/gallery-mob09-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery-tab09-1x.jpg 1x,
                  ./images/gallery/gallery-tab09-2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/gallery/gallery-desk09-1x.jpg 1x,
                  ./images/gallery/gallery-desk09-2x.jpg 2x
                "
                src="./images/gallery/gallery-desk09-1x.jpg"
                alt="Milk shake"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column is-down">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery-mob10-1x.jpg 1x,
                  ./images/gallery/gallery-mob10-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery-tab10-1x.jpg 1x,
                  ./images/gallery/gallery-tab10-2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/gallery/gallery-desk10-1x.jpg 1x,
                  ./images/gallery/gallery-desk10-2x.jpg 2x
                "
                src="./images/gallery/gallery-desk10-1x.jpg"
                alt="Donut with ice cream"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
